body{
	background-color: rgb(14, 11, 22);
}

.jumbotron {
	background-color: blue;
	height: 100vh;
	background-image:
    repeating-radial-gradient(
      circle at center,
      #8E18BD,
      #BF005E
    );

    display: flex;
    align-items: center;
}

.jumbotron img {
	width: 50%;
	opacity: 0;
	-moz-transition: opacity 5s; /* Firefox 4 */
	-webkit-transition: opacity 5s; /* Safari and Chrome */
	-o-transition: opacity 5s;
	transition: opacity 5s;
	}
